/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

//增加固定背景图
 body {
    //  background: url('http://oj5c6wpwt.bkt.clouddn.com/cristina-gottardi-192989.jpg') no-repeat center center fixed;

 }
 .baokuan{
  text-align: center;
 }

 //整体框架的大小修改
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;   //整体左框间隔消除
    padding-right: 0px;  //整体右框间隔消除
    // background-color: transparent;  //整体的背景色
  }

 // 导航栏修改
  .navbar {
   position: relative;
   min-height: 50px;
   margin-bottom: 0px;  //改为0导航栏和底下图片无缝相接
   border: 1px solid #a94442;
   width: 100%;
  //  position: fixed;///导航栏固定不动，
  //  z-index: 100; ///导航栏最前端显示
   top: 0;
   left: 0;

 }

 // 导航栏背景修改
 .navbar-default {
   border-color: #e7e7e7;
   background-color: rgba(255,255,255 ,1);//背景颜色含透明度 rgb(255,0,255)

 }
 // 导航栏的文字颜色
.navbar-default .navbar-brand {
  color: #2E8B57;
}
//  文字颜色
.container-fluid{
  color: #2E8B57;
}
.container1 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 700px;
}



// ----------footer相关



.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 6px;
	padding-bottom: 6px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}
