/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// .banner-content{color:#fff;padding:200px}
.mylove {
   font-size:5em;
   text-align: center;
   margin-bottom: 50px;
   background-color: rgba(255,255,255 ,0.5);
}

// product 首页背景
.bgimage{
   color: #2E8B57;
   background : url('https://ooo.0o0.ooo/2017/02/17/58a693c65a5d8.jpg') no-repeat center center fixed;
}
 .baokuan{
   text-align: center;
 }

 .thumbnail {
     display: block;
     padding: 4px;
     margin-bottom: 20px;
     margin-top: 30px;
     line-height: 1.42857143;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-transition: border 0.2s ease-in-out;
     -o-transition: border 0.2s ease-in-out;
     transition: border 0.2s ease-in-out;
   }
 //整体框架的大小修改
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;   //整体左框间隔消除
    padding-right: 0px;  //整体右框间隔消除
    // background-color: transparent;  //整体的背景色
  }

 // 导航栏修改
  .navbar {
   position: relative;
   min-height: 50px;
   margin-bottom: 0px;  //改为0导航栏和底下图片无缝相接
   border: 1px solid #a94442;
   width: 100%;
  //  position: fixed;///导航栏固定不动，
  //  z-index: 100; ///导航栏最前端显示
   top: 0;
   left: 0;
 }

 // 导航栏背景修改
 .navbar-default {
   border-color: #e7e7e7;
   background-color: rgba(255,255,255 ,1);//背景颜色含透明度 rgb(255,0,255)

 }
 // 导航栏的文字颜色
.navbar-default .navbar-brand {

  color: #2E8B57;
}
//  文字颜色
.container-fluid{
  color: #2E8B57;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 700px;

}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.hero a {
    color: #f5f5f5;
    text-decoration: none;
}


// ----------产品首页相关
.menu-wrap{background:#696969;height:42px;line-height:42px;color:#fff}
.menuList-item{padding:0 22px;cursor:pointer}
.menuList-item a{color:#FFF}
.menuList-item:hover{background-color:#434343}
.menuList-activeItem{background:#3CB371}
.menuList-activeItem:hover{background:#D32048}
.fl {
    float: left;
    display: inline;
}
.order {
    background: #fff;
    height: 44px;
    line-height: 44px;
}
.w1200 {
    width: 1000px;
}
.mt30 {
    margin-top: 30px;
}
.w1200 {
    width: 1000px;
}
.clearfix {
    display: block;
}
.bc {
    margin-left: auto !important;
    margin-right: auto !important;
}
.orderList-orderItem{cursor:pointer}.orderList-activeItem a{color:#d32048}
.pr20 {
    padding-right: 20px;
}
.pl20 {
    padding-left: 20px;
}
.pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;word-break:break-all;word-wrap:break-word;color:#333333;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}




// ----------footer相关



.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 6px;
	padding-bottom: 6px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
}

// 新版footer

footer .footer-section{display:block;width:100%;height:375px;background:#E0E0E0;margin-top:0}
footer .footer-section .footer-content{display:block;margin-left:auto;margin-right:auto;width:100%;max-width:960px;padding:30px 0 0;position:relative;color:#333}
footer .footer-section .footer-content .contact-line-block{float:right;width:33%;padding:50px 0 0}
footer .footer-section .footer-content .contact-line-block .right-block{width:380px;margin:0 auto}
footer .footer-section .footer-content .contact-line-block .right-block .line{padding-bottom:50px;display:block;width:380px}
footer .footer-section .footer-content .contact-line-block .right-block .line .icon{float:left;width:30px;height:30px}#fa-comments-o{font-size:20px;color:#666}
footer .footer-section .footer-content .contact-line-block .right-block .line .link{width:300px;float:left}
footer .footer-section .footer-content .contact-line-block .right-block .line .link a{color:#666;font-size:1em;text-decoration:none}
footer .footer-section .footer-content .contact-line-block .right-block .line .link a:hover{color:#E61C64}
footer .footer-section .footer-content .contact-line-block .right-block .introduce{width:320px;padding-bottom:50px;margin-left:-5px}
footer .footer-section .footer-content .contact-line-block .right-block .introduce .img-block{float:left;width:52px}
footer .footer-section .footer-content .contact-line-block .right-block .introduce .img-block img{width:52px}
footer .footer-section .footer-content .contact-line-block .right-block .introduce .introduce-block{color:#666;text-align:left;margin:0;float:left;padding:5px 0 0 8px;width:205px}
footer .footer-section .footer-content .des-block{float:left;width:33%;padding:50px 0 0}
footer .footer-section .footer-content .des-block .column-block{margin:0 auto}
footer .footer-section .footer-content .des-block .column-block .column-center,footer .footer-section .footer-content .des-block .column-block .column-left,footer .footer-section .footer-content .des-block .column-block .column-right{width:33%;float:left;text-align:center}
footer .footer-section .footer-content .des-block .column-block .column-center .column-title,footer .footer-section .footer-content .des-block .column-block .column-left .column-title,footer .footer-section .footer-content .des-block .column-block .column-right .column-title{font-weight:bold;margin-bottom:8px}
footer .footer-section .footer-content .des-block .column-block .column-center li,footer .footer-section .footer-content .des-block .column-block .column-left li,footer .footer-section .footer-content .des-block .column-block .column-right li{line-height:23px}footer .footer-section .footer-content .des-block .column-block .column-center a,footer .footer-section .footer-content .des-block .column-block .column-left a,footer .footer-section .footer-content .des-block .column-block .column-right a{color:#666;font-size:1em;text-decoration:none}footer .footer-section .footer-content .des-block .column-block .column-center a:hover,footer .footer-section .footer-content .des-block .column-block .column-left a:hover,footer .footer-section .footer-content .des-block .column-block .column-right a:hover{color:#E61C64}#list-unstyled{margin:0}footer .footer-section .footer-content .fline{padding-top:40px;margin:0 auto;width:100%;height:1px;border-bottom:1px solid rgba(151,151,151,0.6);clear:both}footer .footer-section .footer-content .copyright-block{width:100%;padding:0 50px 50px;display:block;float:none}footer .footer-section .footer-content .copyright-block .copyright-content .copyright-info{padding-top:10px;color:#666;float:none;width:100%;text-align:left}footer .footer-section .footer-content .wechat-block{float:right;width:33%;padding:50px 0 0;text-align:center;margin:0 8px 0 0}footer .footer-section .footer-content .wechat-block .column-block{margin:0 auto}footer .footer-section .footer-content .wechat-block .column-block .column-center{width:100%;float:left;text-align:center}footer .footer-section .footer-content .wechat-block .column-block .column-center .column-title{font-weight:bold;margin-bottom:8px}.wechat-img-block img{width:90px}.-page{height:650px}.-panel{text-align:center;margin-top:15px;padding-top:25px}.-title{margin-top:25px;font-size:35px;margin-bottom:45px}.form-inputs{font-family:"Geneva", "Gill Sans", serif;font-size:16px;color:#595958}.user_email{width:350px;height:70px;text-align:left;margin-left:540px}.user_password{width:350px;height:70px;margin-left:540px;text-align:left}.user_password_confirmation{width:350px;height:70px;margin-left:540px;text-align:left;margin-top:50px}.help-block{font-size:12px}.user_remember_me{margin-left:540px;text-align:left;padding-top:-15px;font-size:14px}.form-actions .btn-default{margin-top:10px;text-align:center;font-family:"Geneva", "Gill Sans", serif;font-size:16px;margin-bottom:15px;color:#fff !important;background-color:#e61c64 !important;border-color:#e61c64 !important;text-align:center}.form-actions :hover{color:#fff !important;background-color:#23429e !important;border-color:#23429e !important;text-align:center}
