// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

// 评论
.lg-section-4{display:block;width:100%;height:500px;min-width:960px;background: #f2f2f2}
.lg-section-4 .content-4{display:block;margin-left:auto;margin-right:auto;width:960px;height:450px;padding:50px 0;position:relative}
.lg-section-4 .content-4 .client-share-left{padding-left:30px;float:left;width:580px}
.lg-section-4 .content-4 .client-share-right{padding-left:30px;float:left;width:380px}
.lg-section-4 .content-4 .photo img{border:5px solid #f2f2f2;border-radius:3px;width:80px;height:auto}
.lg-section-4 .content-4 h2{text-align:center;padding-bottom:60px;letter-spacing:3px}
.lg-section-4 .content-4 .client-share-left p{padding-top:20px;display:block;clear:both;width:350px;line-height:25px;color:#666;font-size:1.1em}
.lg-section-4 .content-4 .client-share-right p{padding-top:20px;display:block;clear:both;line-height:25px;color:#666;font-size:1.1em}
.lg-section-4 .content-4 .name span{font-size:1.1em;line-height:22px;font-weight:bold;color:#444}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto}#fa-quote{color:#E61C64}


// 字体样式
.ItmeTitle{text-align:center;margin-top:120px;margin-bottom:50px}.title{margin-top:50px}samp{font-size:18px;opacity:0.7}

.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-arrow-circle-up {
    font-size: 30px;
    text-align: center;
    color: #666;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    // background-color: #080d15;
    background-color: rgba(0,0,0,0.5);//背景颜色含透明度 rgb(255,0,255)
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}


// 部分产品的css
h4{
     font-weight: 600;
 }
 p{
   font-size: 12px;
   margin-top: 5px;
 }
 .price{
   font-size: 30px;
     margin: 0 auto;
     color: #333;
 }
 .right{
   float:right;
   border-bottom: 2px solid #4B8E4B;
 }
 .thumbnail{
   opacity:0.88;
   -webkit-transition: all 0.5s;
   transition: all 0.5s;
 }
 .thumbnail:hover{
   opacity:1.00;
   box-shadow: 0px 0px 10px #4bc6ff;
 }
 .line{
   margin-bottom: 5px;
 }
 @media screen and (max-width: 770px) {
   .right{
     float:left;
     width: 100%;
   }
 }
