<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <footer>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Cool.We 2017. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->


<div class="row">
    <footer class="container-fluid">
        <div class="row">
            <div class="footer-section">
                <div class="footer-content">
                    <div class="contact-line-block">
                        <div class="right-block">
                            <div class="line">
                                <div class="icon">
                                    <i class="fa fa-comments-o fa-fw" id="fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <div class="link">
                                    <a href="#">在线客服 ( 工作日 9:00-23:00 ）
                                    </a>
                                </div>
                            </div>
                            <div class="introduce">
                                <div class="img-block">
                                    <a href="#">
                                        <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fd8fp9e92hj30cz0bt40g.jpg"></a>
                                </div>
                                <div class="introduce-block">
                                    <p> Cool.Way，一家为你提供创意生活的商店。</p>
                                    <br>
                                    <ul class="nav nav-pills payments">
                                        <li><i class="fa fa-cc-visa"></i></li>
                                        <li><i class="fa fa-cc-mastercard"></i></li>
                                        <li><i class="fa fa-cc-amex"></i></li>
                                        <li><i class="fa fa-cc-paypal"></i></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="des-block">
                        <div class="column-block">
                            <div class="column-left">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">VIP会员</li>
                                    <li>
                                        <a href="#">会员政策</a>
                                    </li>
                                    <li>
                                        <a href="#">常见问题</a>
                                    </li>
                                    <li>
                                        <a href="#">支付方式</a>
                                    </li>
                                    <li>
                                        <a href="#">优惠劵使用</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-center">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">配送方式</li>
                                    <li>
                                        <a href="#">配送范围</a>
                                    </li>
                                    <li>
                                        <a href="#">配送时间</a>
                                    </li>
                                    <li>
                                        <a href="#">配送收费</a>
                                    </li>
                                    <li>
                                        <a href="#">快递查询</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="column-right">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">售后服务</li>
                                    <li>
                                        <a href="#">退换货物</a>
                                    </li>
                                    <li>
                                        <a href="#">退款申请</a>
                                    </li>
                                    <li>
                                        <a href="#">订单修改</a>
                                    </li>
                                    <li>
                                        <a href="#">发票出具</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wechat-block">
                        <div class="column-block">
                            <div class="column-center">
                                <ul class="list-unstyled" id="list-unstyled">
                                    <li class="column-title">微信客服</li>
                                    <li class="wechat-img-block">
                                        <!-- <img src="http://oj5c6wpwt.bkt.clouddn.com/wechat.jpeg"> -->
                                        <img src="http://oj5c6wpwt.bkt.clouddn.com/WechatIMG9.jpeg">
                                        <!-- <img src="http://oj5c6wpwt.bkt.clouddn.com/WechatIMG8.jpeg"> -->

                                    </li>
                                </ul></div>
                            </div>
                        </div>
                        <div class="fline"></div>
                        <div class="copyright-block">
                            <div class="copyright-content">
                                <div class="copyright-info">
                                    <p>Copyright © Cool.We 2017，All Rights Reserved  </p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
